.todoItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 50px;

  background-color: #383838;
  /* color: #ffff; */
  margin: 1% 10%;
  padding: 32px 32px;
  border-radius: 32px;
}
.todoItemContainer:hover {
  background-color: #383838;
}
.chekbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.listItemLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.listItemRight {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 12px;
}

.icon {
  padding: 10px;
  border-radius: 50%;
  font-weight: 900;
  cursor: pointer;
  color: black;
}
.update:hover {
  background-color: #9aec0c;
}

.delete {
  background-color: #f44336;
  color: #ffff;
  border: 1px solid #b71c1c;
}
.delete:hover {
  color: #fadbde;
  background-color: #d32f2f;
}
